/* Login Form */
.Login-Form{
    background-color: #494949;
    border-radius: 5%;
    padding: 5vw 3vw;
    margin: 4vw auto;
    width: 30vw;
}

/* FriendList */
.friendList{
    background-color: #202020;
    color: white;
    padding: 0% 0%;
    height: 100vh;
    border-right:1px solid rgb(151, 151, 151);
}
.friend-user{
    background-color: #373737;
    padding: 2%;
    width: 100%;
    text-align: center;
    color: white;
}
.friend-stat{
    padding: 2% 0%;
}
.friend-user-button{
    border: 0;
    padding: 4% 3%;
    width: 100%;
    text-align: left;
    background-color: inherit;
    color: inherit;
}
.friend-user-list{
    list-style-type: none;
    border-top:1px solid rgb(88, 88, 88);
    /* border-bottom:1px solid rgb(88, 88, 88); */
}
.active-button:hover{
    background-color: #313131;
}

/* ChatSection */
.chat{
    margin: 0;
    padding: auto;
    height: 100%;
}
.chat-friend{
    padding: 1%;
    color: white;
}
.chat-messages-window{
    background-color: #121212;
    height: 81vh;
}
.chat-messages-sub-window{
    height: 100%;
    width: 100%;
    overflow: auto;
}
.chat-input-form{
    display: inline-flex;
    margin: 2vh auto;
}
.chat-input{
    width: 50vw;
    margin-right: 2vw;
}
